

/* stylesheet for styling fonts and such?*/


html, body{
  margin: auto;
  max-width: 80rem;
}

@font-face { /*definitely need to change this font later, so ugly lmaoo*/
  font-family: 'OpticianSans';
  src: url(../fonts/Optician-Sans.otf);
}

h1{
  font-family: OpticianSans;
  font-size: 5rem;
  letter-spacing: 0.1em;
  right: -2rem;
  top: -3rem;
}
